<html>
<head>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<title>Login</title>
</head>
<body>
    <h1>Login System</h1>

    <div class = "bg-image" ></div>
    
    <div class = "content"></div>

    <div class = "Box">
    <form method = "POST">
    </br></br></br>    
        <a>UserName</a></br>
        <input id = "round" type ="text" aria-label="First name" class = "form-control" placeholder= "UserName", name = "Username">
    </br>  
    </br>
        <a>Password</a></br>
        <input id = "round" aria-label="Last name" class="form-control" placeholder = "Password", name = "Password", type = "Password">
    </br>
    </br>
        

    <input id = "submit" type = "Submit" class = "btn btn-dark" value="Login"></input>
    </form>
    <a>Don't have account?</a>
    <a id = "register" href = "/register">Register</a>
</br></br></br>
    </div>
</div>
</br>

</body>
</html>